* {
    box-sizing: border-box;
}
.header{
    padding: 15px;
    background-color: rgba(33, 105, 187, 0.842);
}
.menu{
    width: 25%;
    float: left;
    background-color: rgba(33, 105, 187, 0.842);
    color:white;
}

img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.main{
    max-width: 75%;
    float: left;
    background-color: white;
    margin-left: 20px;
}
p{
    color: darkblue;
    font-size:large;
    font-weight: bold;
}
span{
    color:black;
    font-size:large;
    font-weight: normal;
}
h1 {
    /*font-family: 'Unbounded', cursive;border: 4px solid blue;*/
    padding: 30px 15px 25px 20px;
    margin: 25px;
    font-weight: bold;
    color: green;
}

section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

#otro {
    color: aqua;
    font-size: 30px;
    border: 3px solid lawngreen;
}

.clase1 {
    font-size: 45px;
    color: brown;
}

.claselinea {
    text-align: center;
    font-size: 15px;
    color: black;
}

/*body {
    /*background-color: rgb(132, 211, 221);
}*/

/*#nomBoton {
    color:blue
}*/

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}